body {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header > div {
  margin: 1em;
}

#center-label {
  text-align: center;
  margin: 0;
}
